@{
    ViewData["Title"] = "Home Page";
}


<h2>Wybierz 2 zdjęcia do porównania</h2>

<form asp-controller="Home" asp-action="Verify" method="post"
      enctype="multipart/form-data">

    <input type="file" name="file" multiple />
    <button type="submit">Upload File</button>
</form>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
