@model CognitiveService.Models.VeryfiModel

@{
    ViewData["Title"] = "Verify";
}

<div>
    <h4>VerifyViewModel</h4>
    <hr />
    <h2>Wybierz 2 zdjęcia do porównania</h2>
    <div style="width:350px;height:250px;"><img width="350" src="@string.Format("{0}://{1}/{2}", Context.Request.Scheme, Context.Request.Host, Model.imgList[0])" /></div>
    <div style="width:350px;height:250px;"><img width="350" src="@string.Format("{0}://{1}/{2}", Context.Request.Scheme, Context.Request.Host, Model.imgList[1])" /></div>
    <div>Prawdopodobieństwo: @Model.Confidence</div>
    <div>Czy identyczne? @Model.IsIdentical</div>
</div>
